global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: docker-services
    metrics_path: /metrics
    docker_sd_configs:
      - host: unix:///var/run/docker.sock
        refresh_interval: 15s
    relabel_configs:
      - source_labels: [__meta_docker_container_label_com_docker_compose_service]
        target_label: service
      - source_labels: [__meta_docker_container_name]
        regex: "/(.*)"
        target_label: container
      - source_labels: [__meta_docker_container_label_com_docker_compose_service]
        regex: ".*"
        action: keep
