name: Deploy QA

on:
  push:
    branches: [ qa ]

jobs:

  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Configure AWS
        run: |
          aws configure set aws_access_key_id ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws configure set aws_secret_access_key ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws configure set aws_session_token ${{ secrets.AWS_SESSION_TOKEN }}
          aws configure set region us-east-1

      - name: Terraform
        env:
          TF_VAR_allowed_ssh_ip: "200.50.232.88/32"
          TF_VAR_db_password: ${{ secrets.ADMIN_PASSWORD }}
        run: |
          cd infrastructure
          terraform init
          terraform apply -auto-approve
