name: Deploy QA

on:
  push:
    branches: [ qa ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:

      # 1️⃣ Checkout repo
      - name: Checkout
        uses: actions/checkout@v3

      # 2️⃣ Setup Terraform
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.6.6

      # 3️⃣ Configure AWS
      - name: Configure AWS
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_SESSION_TOKEN: ${{ secrets.AWS_SESSION_TOKEN }}
        run: |
          aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID
          aws configure set aws_secret_access_key $AWS_SECRET_ACCESS_KEY
          aws configure set aws_session_token $AWS_SESSION_TOKEN
          aws configure set region us-east-1

      # 4️⃣ Terraform Init & Apply
      - name: Terraform Apply
        env:
          TF_VAR_allowed_ssh_ip: "200.50.232.88/32"
          TF_VAR_db_password: ${{ secrets.ADMIN_PASSWORD }}
        run: |
          cd infrastructure
          terraform init
          terraform apply -auto-approve
